# Common
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

# This part is for development, ignore
/dev

# Hidden routing rules for Wjghj Server
@*.*

# Secret files (save passwords etc.)
secret_*.*
secret/